@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

body{
    margin: 0;
    background-color: white;
}

header{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;
    z-index: -2;
}

.leaves{
    height: 100vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.5;
}

.main-box{
    color: white;
    border: white solid 2px;
    display: inline-block;
    position: relative;
    top: 37vh;
    width: 30%;
    height: 12%;
    line-height: 0.6;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.493);
}

.headertext{
    float: center;
    text-align: center;
}

#h1box{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
}

#pbox{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: larger;
}

main{
    background: white;
    height: 200vh;
}

.Turan{
    width: auto;
    height: 100%;
}

.first-part{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-part{
    height: 100vh;
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .Turan{
        width: 100%;
        height: auto;
    }
    .main-box{
        width: 50%;
        height: 15%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .main-box{
        height: 20%;
        padding: 15px;
    }
    .first-part{
        height: 200vh;
    }
}

